<?xml version="1.0"?>
<launch>

  <node pkg="pointcloud_process"  name="totalpc_pub"  type="totalpc_pub" output="screen">
    <param name="pcdfile_path0" type="string" value="/home/k/Desktop/data/twoviewpoint_test2"/>
    <param name="pcdfile_endnum" type="int" value="900"/>
    <param name="leafSize" type="double" value="0.02"/>
  </node>

  <arg name="rviz" default="true" />
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find pointcloud_process)/config/pc2.rviz"/>
  </group>

</launch>
